{% extends 'webview/base.html' %}
{% block content %}
<table class="table table-hover table-bordered table-striped" id="table">
        <thead>
            <tr>
                <th>S.no.</th>
                <th>Event Title</th>
                <th>Event Venue</th>
                <th>Event Date</th>
                <th>Event Created By</th>
                <th>Event Helpers</th>
                <th>Complaint By</th>
                <th>Complaint Date/Time</th>
                <th>Complaint Message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for complaint in allComplaints %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                <td>{{ complaint.eventTitle }}</td>
                <td>{{ complaint.eventVenue }}</td>
                <td>{{ complaint.eventDate }}</td>
                <td>{{ complaint.eventCreatedBy }}</td>
                  <td><ul>
                    {% for helper in complaint.eventHelpers %}
                        <li>{{ helper }}</li>
                        {% endfor %}</ul>
                </td>
                <td>{{ complaint.complaintBy }}</td>
                <td>{{ complaint.complaintDateTime }}</td>
                <td>{{ complaint.complaintMessage }}</td>
                {% if complaint.complaintResolutionStatus %}
                    <td><button disabled>Resolved</button></td>
                {% else %}
                    <td><button onclick=changeComplaintStatus(this)  id="{{ complaint.complaintId }}">Mark resolved</button></td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
</table>
<script type="application/javascript">
    $(document).ready(function() {
    $('#table').DataTable({
        "order": [[ 3, "desc" ],[ 4, "desc" ] ],
        stateSave: true,
        "paging":   false,
        "info":     false,
    });
} );
    function changeComplaintStatus(button) {
var cid = button.id;
var url = "{% url 'changeComplaintStatus' %}?complaintId=" + cid;
        swal({
  text: 'Are you sure you want to mark complaint as resolved? ',
  button: {
    text: "Yes!",
    closeModal: false,
  },
})
.then(name => {
  if (!name) throw null;

  return fetch(url);
})
.then(results => {
  return results.json();
})
.then(json => {
  const status = json.status;
    console.log(status);
  if (status) {
   swal("Success", "Complaint successfully marked resolved", "success").then( function() {
                           window.location.reload();
                       }
                   );
  }
  else {
      swal("Oh crap!", "The request failed! Please try again.", "error");
  }

})
.catch(err => {
  if (err) {
    swal("Oh crap!", "The request failed! Please try again.", "error");
  } else {
    swal.stopLoading();
    swal.close();
  }
});

        {#let Baseurl = {% url 'changeComplaintStatus' %};#}
        {#location.href= Baseurl + "?complaintId=" + id ;#}
    }

      var d = document.getElementById("nav_complaint");
    d.className += " active";
</script>

{% endblock %}