{% extends 'webview/base.html' %}
{% load static %}

{% block content %}

    <h3 >Note:</h3>
    <ul>
        <li>Time is in 24 hours format.</li>
        <li>Only event creators can delete the event.</li>
        <li>You can download the android application by clicking <a href="https://play.google.com/store/apps/details?id=assimilation.visdrotech.com.assimilation">here</a>. Or scanning the below QR code.<br>
        <img src="{% static '/webview/qrcode.png' %}" style="width: 100px;height: 100px">
        </li>
        <li>Slides for knowing the working of the website can be found <a href="#">here</a>. </li>

        <li>Slides for knowing the working of the android application for 2nd Years can be found <a href="https://docs.google.com/presentation/d/e/2PACX-1vTcJ2jpwjFmEV1SzndHklLUIloH0ZimA5F-NfSSHkfLMMVqDVQSbCWPFlfNcGYzb1RoLP7QyN_HbvP4/pub?start=true&loop=true&delayms=3000">here</a>. </li>
        <li>Slides for knowing the working of the android application for attendance takers can be found <a href="https://docs.google.com/presentation/d/e/2PACX-1vTVXNEAHWIW9g0IgWyHuT6gIMgSK0qlt1YVG5VIvqna-AKBwvwSfgGSSJ6iFhx_ZxtgjILR_d6ZbOww/pub?start=true&loop=true&delayms=3000">here</a>. </li>


    </ul>

    <script type="application/javascript">
        var d = document.getElementById("nav_username");
    d.className += " active";
    </script>
{% endblock %}