{% extends 'webview/base.html' %}
{% block content %}
<table class="table table-hover table-bordered table-striped" id="table">
        <thead>
            <tr>
                <th>S.no.</th>
                <th>Title</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Created By</th>
                <th>Helpers</th>
                        {% if perms.api.add_event  %}

                <th>Your role</th>
                {% endif %}
                <th>Audience</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {% for event in eventsList %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.venue }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.time }}</td>
                <td>{{ event.createdBy }}</td>
                <td><ul>
                    {% for helper in event.helpers %}
                        <li>{{ helper }}</li>
                        {% endfor %}</ul>
                </td>
                 {% if perms.api.add_event  %}
                <td>{{ event.role }}</td>
                {% endif %}
                <td>{{ event.audience }}</td>

                {% if perms.api.add_event  %}
                <td><button onclick=(location.href="{% url 'markattendance' %}?eventId={{ event.uid }}")>Mark attendance</button><br>
                <button onclick=(location.href="{% url 'editevent' %}?eventId={{ event.uid }}")>Edit Event</button>
                {% if event.deleteFlag %}
                <button onclick=deleteEvent(this) id="{{ event.uid }}">Delete Event</button>
                    {% else %}
                     <button disabled>Delete Event</button>
                {% endif %}
                </td>
                {% else %}
                    <td><button onclick=(location.href="{% url 'complaint' %}?eventId={{ event.uid }}")>Create Complaint</button></td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
</table>

<script type="application/javascript">
    var d = document.getElementById("nav_upcomingevent");
    d.className += " active";
    $(document).ready(function() {
    $('#table').DataTable({
        "order": [[ 3, "desc" ],[ 4, "desc" ] ],
        stateSave: true,
        "paging":   false,
        "info":     false,
    });
} );


    function deleteEvent(button) {
        console.log(button.id);
        swal({
              title: 'Are you sure you want the delete the event?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                  let requestData = {};
                  requestData.eventUid = button.id;
                  sendRequest(requestData)
              }
            })
    }

    function sendRequest(data) {
     var csrftoken = Cookies.get('csrftoken');
    let url = "{% url 'deleteevent' %}" ;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText);
         swal(
                  'Deleted!',
                  'The event has been deleted.',
                  'success'
                ).then((result) =>{
                    window.location.reload();
         })
    }
    else if (this.readyState == 4 && this.status == 400){
          swal(
                  'Error!',
                  'Sorry! Bad request. Please try again.',
                  'error'
                )
    }
       else if (this.readyState == 4 && this.status == 408){
          swal(
                  'Error!',
                  'Sorry! Unable to delete event. Please try again.',
                  'error'
                )
    }
  };
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("Content-Type", "application/json");
  xhttp.setRequestHeader("X-CSRFToken", csrftoken);
  xhttp.send(JSON.stringify(data));
}
</script>

{% endblock %}